//
// Core Stylesheet
//
// ==========================================================================

body {
  font-family: $font-family;
  color: $font-color;
}

a {
  color: $default-color;
  text-decoration: none;

  &:hover {
    border-bottom: 1px dashed $default-color;
    opacity: 0.75;
  }
}

h1 {
  text-indent: .75em;
  padding: 70px 100px 0 0;

  span {
    color: $font-color;
    @include transition(all $bp-color-timer ease-out);
    @include breakpoint($bp-small) {
      color: $bp-color-small;
    }
    @include breakpoint($bp-medium) {
      color: $bp-color-medium;
    }
    @include breakpoint($bp-large) {
      color: $bp-color-large;
    }

    &.version {
      font-size: 12px;
      font-weight: normal;
      color: $version-color;
    }
  }
}

svg {
  position: absolute;
  top: 15px;
  left: 240px;
  opacity: 0.25;

  .basejumper-head,
  .basejumper-body {
    @include transition(all $bp-color-timer ease-out);
    @include breakpoint($bp-small) {
      fill: $bp-color-small;
    }
    @include breakpoint($bp-medium) {
      fill: $bp-color-medium;
    }
    @include breakpoint($bp-large) {
      fill: $bp-color-large;
    }
  }
}
