//
// Variables
//
// ==========================================================================

// Defaults & Colors
// --------------------------------------------------------------------------

$font-family                   :    Helvetica, Arial, sans-serif;
$font-color                    :    #888;
$default-color                 :    #000;
$version-color                 :    #DDD;

$bp-color-small                :    #F0E;
$bp-color-medium               :    #3CF;
$bp-color-large                :    #A0F;
$bp-color-timer                :    .6s;


// Breakpoints
// --------------------------------------------------------------------------

$bp-small                      :    500px;
$bp-medium                     :    800px;
$bp-large                      :    1000px;
